<header>
    <nav>
        <ul>
          <li><a href="{% url 'photos:photo_list' %}" ><strong>Fotos f5</strong></a></li>
        </ul>
        
        <ul>
          {% if not user.is_authenticated %}
          <li><a href="{% url 'account_login' %}" class="outline" role="button">Iniciar sesión</a></li>
          <li><a href="{% url 'account_signup' %}" role="button">Crear cuenta</a></li>
          {% else %}
          {% if user.is_superuser %}
            <li><a href="{% url 'photos:photo_create' %}" class="outline" role="button">Subir foto</a></li>
          {% endif %}
          <li><a href="{% url 'photos:favorites_photo_list' %}"role="button">Mis favoritos</a></li>
          <li><a href="{% url 'account_logout' %}" class="outline secondary" role="button">Cerrar sesión</a></li>
          {% endif %}
        </ul>
    </nav>
</header>
